.userInfo {
    background-color: #253040;
    display: flex;
    flex-direction: row;
    height: 75px;
    margin: 10px;
}

.userPic {
    width: 70px;
    float: left;
}

.userName {
    padding-top: 10px;
}

.hostStar {
    color: yellow;
}

.container {
    background-color: #F8F9FB;
    margin: 0 15px;
    width: calc(100% - 30px);
    max-height: 590px;
    overflow-y: auto;
}
