.userInfo {
    background-color: #253040;
    display: flex;
    flex-direction: row;
    height: 75px;
    margin: 10px;
}

.userPic {
    width: 70px;
    float: left;
}

.userName {
    padding-top: 10px;
}

.hostStar {
    color: yellow;
}
