.VideoPage {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-top: 64px;
}

.VideoPage p {
    color: white;
}

.VideoPage h1 {
    color: white;
    margin-bottom: 80px;
}

.addVideoButton {
    width: 150px;
    height: 50px;
}
