.profileHeader {
    text-align: 'center';
    background-color: #212121;
    color: #fff;
}

.appModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    position: fixed;
    margin-top: 50px;
    margin-left: calc(50% - 250px);
    padding: 15px 15px 15px 15px;
}

